root = true

end_of_line = lf
insert_final_newline = true

[*.{js,json,ss,css,styl,svg}]
charset = utf-8

[*.json]
indent_style = space
indent_size = 2

[*.{js,styl}]
indent_style = tab

[*.{ss,html}]
indent_style = tab
indent_size = 2
