{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },

  "rules": {
    /* [Possible Errors] */
    "comma-dangle": ["error", "only-multiline"],
    "no-cond-assign": ["error", "except-parens"],
    "no-constant-condition": ["error", {"checkLoops": false}],
    "no-control-regex": ["error"],
    "no-debugger": ["error"],
    "no-dupe-args": ["error"],
    "no-dupe-keys": ["error"],
    "no-empty": ["error", {"allowEmptyCatch": true}],
    "no-empty-character-class": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extra-parens": ["error", "all", {"conditionalAssign": false, "returnAssign": false, "nestedBinaryExpressions": false}],
    "no-extra-semi": ["error"],
    "no-func-assign": ["error"],
    "no-invalid-regexp": ["error", {"allowConstructorFlags": ["u", "y"]}],
    "no-irregular-whitespace": ["error", {"skipStrings": true, "skipComments": true, "skipRegExps": true, "skipTemplates": true}],
    "no-negated-in-lhs": ["error"],
    "no-obj-calls": ["error"],
    "no-sparse-arrays": ["error"],
    "no-unexpected-multiline": ["error"],
    "no-unreachable": ["error"],
    "use-isnan": ["error"],
    "valid-typeof": ["error"],

    /* [Best Practices] */
    "accessor-pairs": ["error"],
    "curly": ["error"],
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "allow-null"],
    "guard-for-in": ["warn"],
    "no-else-return": ["error"],
    "no-empty-pattern": ["error"],
    "no-extra-bind": ["warn"],
    "no-extra-label": ["warn"],
    "no-floating-decimal": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implied-eval": ["error"],
    "no-iterator": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-multi-spaces": ["error"],
    "no-multi-str": ["error"],
    "no-native-reassign": ["error"],
    "no-new": ["error"],
    "no-octal": ["error"],
    "no-octal-escape": ["error"],
    "no-proto": ["error"],
    "no-self-assign": ["error"],
    "no-throw-literal": ["error"],
    "no-unused-labels": ["error"],
    "no-useless-call": ["error"],
    "no-useless-concat": ["error"],
    "no-useless-escape": ["error"],
    "no-with": ["error"],
    "radix": ["error", "always"],
    "wrap-iife": ["error", "inside"],
    "yoda": ["error"],

    /* [Variables] */
    "no-delete-var": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-undef-init": ["error"],
    "no-unused-vars": ["error", {"vars": "all", "args": "none", "varsIgnorePattern": "[iI]gnored?"}],
    "no-use-before-define": ["error", {"functions": false}],

    /* [Node.js and CommonJS] */
    "no-new-require": ["error"],
    "no-path-concat": ["error"],

    /* [Stylistic Issues] */
    "array-bracket-spacing": ["error"],
    "block-spacing": ["error"],
    "brace-style": ["error"],
    "comma-spacing": ["error"],
    "comma-style": ["error"],
    "computed-property-spacing": ["error"],
    "consistent-this": ["error"],
    "eol-last": ["error"],
    "indent": ["error", "tab", {"SwitchCase": 1}],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "linebreak-style": ["error"],
    "max-len": ["error", 150, 4],
    "max-nested-callbacks": ["error", 5],
    "max-statements-per-line": ["error"],
    "new-parens": ["error"],
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 3}],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-multiple-empty-lines": ["error"],
    "no-spaced-func": ["error"],
    "no-trailing-spaces": ["error"],
    "no-unneeded-ternary": ["error"],
    "one-var-declaration-per-line": ["error"],
    "operator-linebreak": ["error", "after"],
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "semi": ["error"],
    "semi-spacing": ["error"],
    "space-before-blocks": ["error"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-in-parens": ["error"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"],
    "unicode-bom": ["error"],

    /* [ECMAScript 6] */
    "arrow-body-style": ["error"],
    "arrow-spacing": ["error"],
    "constructor-super": ["error"],
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "no-class-assign": ["error"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-this-before-super": ["error"],
    "no-useless-computed-key": ["error"],
    "no-useless-constructor": ["error"],
    "no-useless-rename": ["error"],
    "no-var": ["error"],
    "object-shorthand": ["error"],
    "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}],
    "prefer-const": ["error"],
    "prefer-spread": ["error"],
    "prefer-template": ["error"],
    "require-yield": ["error"],
    "rest-spread-spacing": ["error"],
    "template-curly-spacing": ["error"],
    "yield-star-spacing": ["error", "after"]
  }
}
